.navbar {
    display: flex;
    align-items: center;
    gap: 30px;

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.navbar__link-sign-up {
    color: #FFF;

    text-decoration: none;
}

.navbar__link-sign-in {
    width: 76px;
    height: 32px;
    border-radius: 3px;
    background: #3DDC84;

    color: #000;

    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__link-sign-up:hover {
    opacity: 0.7;
    cursor: pointer;
}

.navbar__link-sign-in:hover {
    opacity: 0.8;
    cursor: pointer;
}

.navbar__links-container {
    margin-right: calc(100vw/2 - 308px);
}

.navbar__link-movies {
    margin-right: 16px;
    text-decoration: none;
    color: white;

    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}

.navbar__link-movies:hover {
    opacity: 0.7;
    cursor: pointer;
}

.navbar__link-saved-movies {
    text-decoration: none;
    color: white;

    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}

.navbar__link-saved-movies:hover {
    opacity: 0.7;
    cursor: pointer;
}

.navbar__link-profile {
    width: 100px;
    height: 32px;

    border-radius: 20px;
    background: #313131;

    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
    
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.navbar__burger-menu {
    display: none;
}

@media screen and (max-width: 835px) {
    .navbar__link-profile {
        display: none;
    }

    .navbar__links-container {
        display: none;
    }

    .navbar__burger-menu {
        display: block;
        width: 44px;
        height: 44px;
    }
}

@media screen and (max-width: 420px) {
    .navbar{
        gap: 14px;

        font-size: 10px;
    }

    .navbar__link-sign-in {
        width: 54px;
        height: 26px;
    }
}
