@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./components/Header/Header.css);

@import url(./components/NavBar/NavBar.css);
@import url(./components/Promo/Promo.css);

.page {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #202020;
  color: #FFFFFF;

  min-height: 100vh;
  margin: 0 auto;
}
